<template>
  <div class="slidev-layout default" :style="{ '--faculty-color': $ovgu.faculties[$slidev.themeConfigs.faculty].color }">
    <div class="relative box-content py-5 px-10" style="flex: none; height: 12%; border-bottom: 5px solid var(--faculty-color);">
      <ovgu-logo height="100%" font-size="0.9">{{ $slidev.themeConfigs.logoTitle }}</ovgu-logo>
      <div class="slide-metadata">
        <div v-if="$slidev.themeConfigs.title || $slidev.configs.title">
          {{ $slidev.themeConfigs.title || $slidev.configs.title }}
        </div>
        <div class="font-bold">
          {{ formatDate(new Date($slidev.themeConfigs.date || Date.now())) }}
        </div>
        <div class="font-bold" :style="{ width: $slidev.nav.currentPage >= 100 ? '2.4em' : $slidev.nav.currentPage >= 10 ? '1.8em' : '0.9em' }">
          {{ $slidev.nav.currentPage }}
        </div>
      </div>
    </div>
    <div class="slidev-content px-10 py-5" style="height: calc(88% - 2.5rem - 4px)">
      <slot />
    </div>
  </div>
</template>
<script setup>
function formatDate(date) {
  return date.getDate() + "." + (date.getMonth() + 1) + "." + date.getFullYear();
}
</script>
