<template>
  <div class="slidev-layout title" :style="{ '--faculty-color': $ovgu.faculties[$slidev.themeConfigs.faculty].color }">
    <div class="relative box-content my-auto px-30">
      <ovgu-logo width="100%"></ovgu-logo>
    </div>
    <div :style="{ background: $ovgu.faculties[$slidev.themeConfigs.faculty].color, color: '#fff' }" style="--c: 255">
      <div v-if="$slidev.themeConfigs.faculty === 'none'"
           style="height: 1.25em; background: linear-gradient(90deg, rgba(239,123,0,1) 0%, rgba(239,123,0,1) 11%, rgba(208,64,89,1) 11%, rgba(208,64,89,1) 22%, rgba(148,25,129,1) 22%, rgba(148,25,129,1) 33%, rgba(94,142,165,1) 33%, rgba(94,142,165,1) 44%, rgba(0,47,93,1) 44%, rgba(0,47,93,1) 55%, rgba(1,104,181,1) 55%, rgba(1,104,181,1) 66%, rgba(0,159,227,1) 66%, rgba(0,159,227,1) 77%, rgba(9,165,55,1) 77%, rgba(9,165,55,1) 88%, rgba(119,184,40,1) 88%, rgba(119,184,40,1) 100%);"></div>
      <div class="my-auto p-10 text-center">
        <slot/>
      </div>
    </div>
  </div>
</template>
