<template>
  <div class="slidev-layout title" :style="{ '--faculty-color': $ovgu.faculties[$slidev.themeConfigs.faculty].color }">
    <div class="relative box-content py-5 px-10" style="flex-basis: 18%; height: 18%;">
      <ovgu-logo height="100%">{{ $slidev.themeConfigs.logoTitle }}</ovgu-logo>
    </div>
    <div class="my-auto p-10">
      <slot/>
    </div>
    <div :style="{ flexBasis: '30%', background: $ovgu.faculties[$slidev.themeConfigs.faculty].color }"></div>
  </div>
</template>
