:root {
    --slidev-theme-primary: #5d8392;
    --c: 0;
}

.slidev-layout {
    font-family: "FF Info Display", "FF Info Text", "InfoText", "Lucida Sans", sans-serif;
    --prism-background: rgba(var(--c), var(--c), var(--c), 0.1);
}

html:not(.dark) .dark-only {
    display: none;
}
html.dark .light-only {
    display: none;
}

html.dark .slidev-layout {
    background: #231f20;
    color: #f8f8f8;
    --c: 255;
}

.slidev-layout {
    @apply h-full flex flex-col p-0 relative;
    --slidev-theme-primary: var(--faculty-color);
}

.slidev-layout.title {

    h1 {
        @apply text-4xl my-2 font-bold;
    }

    h2 {
        @apply text-2xl my-2;
    }

    h1 + p, h2 + p {
        @apply my-2;
        color: rgba(var(--c), var(--c), var(--c), 0.5);
    }

}

.slide-metadata {
    @apply pr-10 absolute top-0 right-0 flex text-sm;
}

.slide-metadata > * {
    @apply p-2 pb-1;
}

.slide-metadata > *:not(:last-child) {
    border-right: 2px solid rgba(var(--c), var(--c), var(--c), 0.5);;
}

.wide, img[src$="#wide"] {
    margin-left: -2.5rem;
    width: calc(100% + 5rem);
    max-width: none;
}

.wide:first-child, p:first-child > img[src$="#wide"] {
    margin-top: -2.5rem;
}

.right, img[src$="#right"] {
    @apply ml-3 mb-3;
    float: right;
    max-width: 50%;
    max-height: 85%;
}

.left, img[src$="#left"] {
    @apply mr-3 mb-3;
    float: left;
    max-width: 50%;
    max-height: 85%;
}

center, .center, img[src$="#center"] {
    @apply mx-auto text-center block;
}

figcaption {
    @apply text-sm pt-1;
}

.slidev-layout > div > .center:only-child {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.slidev-layout ul, .slidev-layout ol {
    list-style: disc outside;
}

.slidev-layout li {
    line-height: 1.6;
}

.slidev-layout ul > li, .slidev-layout ol > li {
    transform: translateX(2em);
    padding-right: 2em;
    margin-left: 0;
}

.slidev-layout :not(pre) > code {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.slidev-layout :not(pre) > code::before, :not(pre) > code::after {
    content: "" !important;
}

.slidev-layout blockquote {
    font-size: inherit;
    color: inherit;
    border-radius: 3px;
    border-left-width: 5px;
    border-left-color: rgba(var(--c), var(--c), var(--c), 0.3);
    background-color: rgba(var(--c), var(--c), var(--c), 0.1);
}

.slidev-layout.with-background .slidev-content {
    background-color: var(--faculty-color);
    --c: 255;
    color: #fff;
}

.slidev-layout.with-background .slidev-content a:hover {
    color: rgba(255,255,255,0.6);
}
